.navbar{
    background-image: linear-gradient(to right, #2BA9AC,#83D4BE) 
}

#menu-list li{
    margin-bottom:40px;
    font-weight: 700;
    font-size: 20px;
    color: #767676;
    background-color: transparent;

}

#menu-list {
    list-style-type: none;
    width: 100%;
}

#menu-list ul{
    width: 100%;
}

#menu-list i{
    margin-right: 5px;  
    color: #767676;  
}

#menu-list button{
    background-color: transparent;
    width: 100%;
    border: none;
}

#active{
    background-color: #2BA9AC !important; 
    color: #ffffff !important;
}

#hm{
    color: #ffffff !important;
}

#welcome{
    background-color: #2BA9AC;
    height: 100%;
    border-radius: 15px; 
    color: #ffffff;
    margin-left: 10%;

}

#stats{
    margin-left: 5%;
    margin-top: 1%; 
}

#bord1{
    border-style: solid;
    border-color: #F05037;
    border-radius: 15px;
    background-color: #ffffff;
}

#bord2{
    border-style: solid;
    border-color: #2BA9AC;
    border-radius: 15px;
    background-color: #ffffff;
}

#event1{
    background-color: #FFB56C;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    width: 81%;
    height: 65px;
    margin-bottom: 20px;
    margin-top: 10%;
}

#event2{
    background-color: #EB5454;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    width: 81%;
    height: 65px;
    margin-bottom: 20px;
    
}

#event3{
    background-color: #7ED2BC;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    width: 81%;
    height: 65px;
    margin-bottom: 20px;
}

#fpat{
    background-color:#2BA9AC;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 5px;
    text-align: center;
}

#infod{
    margin-left: 20%;
    background-color: white;

}